export active_users="${active_users} configs syslog nagios"
export scripts="${scripts} config.update"
export packages="${packages} lynx libpam-systemd curl nfs-common fuse vim dnsutils bash-completion libwww-perl nagios-plugins-contrib nagios-nrpe-server iotop bsd-mailx deb-multimedia-keyring postfix apt-transport-https molly-guard locales util-linux-locales htop mlocate"
export purge_packages="${purge_packages} libsane:armhf libsane-common libsane-extras:armhf libsane-extras-common python3-minecraftpi python-minecraftpi minecraft-pi isc-dhcp-common isc-dhcp-client dhcpcd5 wolfram-engine fonts-roboto gtk2-engines-clearlookspix wpasupplicant libdrm-freedreno1 libdrm-nouveau2 libdrm-radeon1 libegl1-mesa libelf1 libepoxy0 libevdev2 libgbm1 libmtdev1 libpciaccess0 libwayland-server0 libxcb-xfixes0 libxfce4ui-1-0 libxfce4util-bin libxfce4util-common libxfce4util6 libxfconf-0-2 pimixer pipanel bsdmainutils lightdm lightdm-gtk-greeter LXDE openbox fonts-roboto galculator giblib1 gtk2-engines-clearlookspix leafpad libavahi-core7 libdaemon0 libimlib2 liblightdm-gobject-1-0 libobrender29 libobt2 libva1 libvdpau1 libx264-142 libxfce4ui-1-0 libxfce4util-bin libxfce4util-common libxfce4util6 libxfconf-0-2 lxappearance lxappearance-obconf lxinput lxrandr pimixer raspberrypi-sys-mods scrot va-driver-all vdpau-va-driver xarchiver xfce-keyboard-shortcuts xfconf"
export timezone="America/Los_Angeles"
export tags="${tags} all"
export primary="eth"
